<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This viw is sponsered by out View Engine: EJS and created by typing ! in an empty file.
    <br> 
    here is some cool ejs stuff:   <%= viewEngine %> <%= 2+2 %>
</body>
</html>